@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'), url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'cuprum';
  src: url('../fonts/cuprumbold.woff2') format('woff2'), url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'cuprum';
  src: url('../fonts/cuprumitalic.woff2') format('woff2'), url('../fonts/cuprumtalic.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'ptsans';
  src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'ptsans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
}

.page {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-size: 17px;
  font-family: 'cuprum', Arial, sans-serif;
  line-height: 17px;
}

 .user-submenu-link {
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
}

.link-page {
  text-decoration: none;
}

.list-style {
  list-style: none;
}

.button {
  font: inherit;
}

.menu-top {
  background-color: #293449;
  color: white;
}

.logo-button {
  display: block;
  background-color: #ee3643;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.logo-button-header {
  padding-top: 9px;
  padding-right: 55px;
  padding-bottom: 9px;
  padding-left: 55px;
}

.logo-button-footer {
       font-size: 30px;
  display: inline-block;
  vertical-align: middle;
   padding-top: 20px;
  padding-right: 27px;
  padding-bottom: 20px;
  padding-left: 27px;
  }
    
.logo-footer {
  margin-right: 75px;
}

.logo-button:hover {
  background-color: #cc2c34;
}

.logo-button:focus {
  background-color: #b42434;
}

.logo-button:active {
  background-color: #ec3444;
}

.menu-search-control:hover {
  background-color: #1c243c;
}

.menu-search-control:focus {
  border: none;
  background-color: white;
}

.menu-search-control:active {
  background-color: #293449;
}

.menu-bookmarks-link:hover,
.menu-basket-link:hover {
  background-color: #293449;
}

.menu-bookmarks-link:focus,
.menu-basket-link:focus {
  background-color: #141c2c;
}

.menu-bookmarks-link:active,
.menu-basket-link:active {
  background-color: #293449;
  color: #9098a5;
}

.menu-order-link:hover {
    padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #5cbc2c;
}

.menu-order-link:focus {
  background-color: #538434;
}

.menu-order-link:active {
  background-color: #64a43c;
}

.menu-head-contact {
  margin-top: 61px;
}

.menu-head-info {
  display: block;
  margin-top: 49px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 55px;
  width: 200px;
  color: #ee3643;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.menu-head-account {
  margin-top: 60px;
  font-size: 21px;
  line-height: 21px;
}

.registration {
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 13px;
  padding-left: 25px;
  background-color: white;
  color: black;
  font-size: 21px;
}

.login:hover,
.registration:hover,
.user-submenu-link:hover {
  color: #ec3444;
}

.login:active,
.registration:active,
.user-submenu-link:active,
.user-menu-button:active {
  color: #9098a5;
}

.navigation-item:hover {
  background-color: #293449;
}

.navigation-item:active {
  background-color: #1d2739;
  color: #59616e;
}

.navigation-item {
  padding-top: 21px;
  padding-right: 30px;
  padding-bottom: 21px;
  padding-left: 30px;
}

.navigation-item-link,
.navigation-footer-item-link,
.social {
  color: white;
}

.menu-bookmarks-link {
  color: white;
  font-size: 17px;
  line-height: 18px;
}

.menu-basket-link {
  color: white;
  font-size: 17px;
  line-height: 18px;
}

.menu-order-link {
  display: block;
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #63a63e;
  color: white;
}

.menu {
  background-color: #f3f7f9;
}

.menu-search-control {
  position: relative;
  padding: 0;
  min-height: 42px;
  margin-left: 10px;
  width: 200px;
  border: 0;
  background-color: #32425c;
}

.menu-top {
  font-size: 17px;
  line-height: 18px;
}

.head-contact-phone {
  padding-top: 10px;
  padding-right: 49px;
  padding-bottom: 8px;
  padding-left: 54px;
  border: 3px solid white;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.menu-top-search-box {
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 49px;
}

.menu-bookmarks-link {
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 45px;
}

.menu-basket-link {
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 50px;
}

.head-contact-address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.footer-contacts-phone {
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.login {
  padding-top: 11px;
  padding-right: 27px;
  padding-bottom: 13px;
  padding-left: 47px;
  background-color: white;
  color: black;
  font-size: 21px;
}

.footer-bottom {
  background-color: #293449;
}

.breadcrumbs-link {
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'ptsans', 'Arial', sans-serif;
  line-height: 18px;
  padding-left: 15px;
}

.tooling,
.materials,
.tech,
.discounts,
.shipment {
  margin-bottom: 18px;
  padding-left: 23px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.feature {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 300px;
  vertical-align: middle;
}

.feature-materials {
  margin-left: 0;
}

.block-link {
  display: inline-block;
  margin-right: 0;
  margin-left: 24px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  width: 135px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.block-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.block-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.perforators-about {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.perforators-about-description {
  font-weight: 400;
  font-size: 13px;
  font-family: 'ptsans', 'Arial', sans-serif;
  line-height: 24px;
}

.slider {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.feature-materials,
.feature-shipment {
  background-color: #ffbf47;
}

.feature-tooling {
  background-color: #3bbce3;
}

.feature-tech {
  background-color: #dc91d8;
}

.feature-discounts {
  margin-right: 0;
  margin-bottom: 21px;
  background-color: #8ed78f;
}

.feature-shipment {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 48px;
}

.footer-shop-list,
.nav-footer {
  background-color: #32425c;
}

.brands-list {
  display: flex;
  padding-left: 0;

  flex-wrap: wrap;
}

.goods-popular-title,
.brands-popular-title,
.details,
.post-feedback {
  display: inline-block;
  padding-bottom: 0;
  padding-left: 28px;
  color: #32425c;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.company-tehnomart,
.contacts-title {
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
}

.slider-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.slider-button,
.submit-button-control,
.details,
.post-feedback,
.button-place-order,
.goods-popular-link,
.brands-list-link,
.credit-button-link {
  background-color: #ee3643;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.slider-button {
  position: absolute;
  bottom: 23px;
  left: 25px;
  z-index: 1;
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 8px;
  padding-left: 40px;
  border-radius: 3px;
}

.goods-popular-link,
.brands-list-link {
  display: inline-block;
  margin-top: 0;
  margin-right: 18px;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 9px;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
}

.details,
.post-feedback {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 9px;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
}

.details {
  padding-right: 40px;
  padding-left: 40px;
}

.post-feedback {
  padding-right: 60px;
  padding-left: 60px;
}

.goods-popular-link {
  padding-right: 54px;
  padding-left: 56px;
}

.brands-item-logo-image {
  align-items: center;
}

.slider-button:hover,
.submit-button-control:hover,
.details:hover,
.post-feedback:hover,
.button-place-order:hover,
.goods-popular-link:hover,
.brands-list-link:hover,
.credit-button-link:hover {
  background-color: #ca2c37;
}

.slider-button:active,
.submit-button-control:active,
.details:active,
.post-feedback:active,
.button-place-order:active,
.goods-popular-link:active,
.brands-list-link:active,
.credit-button-link:active {
  background-color: #ba2732;
}

.submit-button-control,
.continue-shopping {
  border: 0;
}

.slide-inscription {
  position: absolute;
  top: 41px;
  left: 26px;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.slider-item {
  position: relative;
}

.slide-title {
  position: absolute;
  top: -2px;
  left: 23px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
}

/*временно скрытые */

.slider-hidden,
.warranty-slider,
.credit-slider,
.letter-popup,
.map-popup,
.cart-adding {
  display: none;
}

/*временно социальные кнопки */

.footer-bottom .container .social {
  width: 132px;
  height: 47px;
  background-color: aqua;
}

.info-block {
  display: flex;
}

.shop-info-additionally {
  display: flex;
  flex-direction: column;
}

.item-block,
.item-block-catalog {
  position: relative;
  display: block;
  width: 218px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
}

.item-block:nth-child(4) {
  margin-right: 0;
}

.item-block:hover .actions,
.item-block-catalog:hover .actions {
  visibility: visible;
}

.goods-perforator,
.image-perforator {
  color: black;
  font-weight: 700;
  font-size: 18px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 20px;
}

.brands-item-logo {
  margin-right: 17px;
  margin-bottom: 20px;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
}

.brands-item-logo:nth-child(4) {
  margin-right: 0;
}

.brands-item-logo:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.brands {
  margin-bottom: 86px;
}

.goods-image {
  margin-top: 40px;
  margin-bottom: 26px;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  visibility: hidden;
  padding-top: 40px;
  min-height: 140px;
  width: 100%;
  background-color: white;
}

.goods-image img {
  min-width: 100%;
}

.goods-item:hover,
.goods-item-catalog:hover,
.brands-item-logo:hover {
  border: 0;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods-item:hover .actions,
.goods-item-catalog:hover .actions {
  visibility: visible;
}

.brands-item-logo:active {
  border: 0;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.page-button:hover {
  border: 1px solid #bbc4cc;
}

.page-button:active {
  border: 1px solid #ec3444;
}

.page-button:focus {
  background-color: #ec3444;
  color: white;
}

.page-button-next:focus {
  border: 1px solid #e5e5e5;
  background-color: white;
  color: black;
}

.perfrators-subject {
  padding-top: 66px;
  padding-bottom: 73px;
  background-color: #f2f6f8;
}

.side-topbar,
.sort-option,
.catalog-page,
.page-button {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 18px;
}

.sort-option {
  border-bottom: 1px dashed #ec3444;
  color: #acaaa5;
}

.shop-info {
  display: flex;
}

.sort-option:hover {
  border-bottom: 1px solid #ec3444;
  color: #acaaa5;
}

.sort-option:active {
  color: #ec3444;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 18px;
}

.buy:hover {
  background-color: #5cbc2c;
}

.buy:active {
  background-color: #538434;
}

.bookmark:hover {
  border: 3px solid #32425c;
  color: #7a8596;
}

.bookmark:active {
  border: 3px solid #c4c4cc;
  color: #c4c4cc;
}

.delivery-about,
.warranty-about,
.credit-about {
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.services-about {
  padding-top: 68px;
  padding-left: 0;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
}

.services-about-description,
.delivery-about-description,
.delivery-about-money,
.warranty-about-description,
.credit-about-description,
.company-tehnomart-description,
.delivery-conditions {
  font-weight: 400;
  font-size: 13px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 24px;
}

.delivery-conditions {
  width: 180px;
}

.company-tehnomart-description {
  width: 390px;
}

.services-about-description {
  margin-bottom: 30px;
  padding-left: 0;
  width: 400px;
}

.service-background {
  position: absolute;
  right: 0;
}

.company-delivery {
  font-size: 18px;
  line-height: 40px;
}

.services {
  min-height: 520px;
  background-color: #f4f8f9;
}

.company-info {
  width: 548px;
}

.company {
  display: flex;
  margin-bottom: 85px;

  justify-content: space-between;
}

.service-delivery {
  display: inline-block;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 77px;
  width: 630px;
  background-color: #f1f7fa;
  background-image: url("../img/services-delivery.png");
  background-position: 220px 55px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.delivery-about-description {
  width: 277px;
}

.delivery-about-money {
  width: 177px;
}

.company-delivery-link {
  color: black;
  font-size: 18px;
  line-height: 40px;
}

.info-customers {
  display: flex;
  flex-direction: row;
  margin-bottom: 148px;

  justify-content: space-between;
}

.footer-contacts-address {
  width: 330px;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.footer-shop-link:hover,
.navigation-footer-item-link:hover,
.copyright-link:hover,
.feedback-mail:hover {
  text-decoration: underline;
}

.copyright-link:active,
.feedback-mail:active {
  color: #ee3643;
  text-decoration: none;
}

.section {
  display: flex;

  justify-content: space-between;
}

.footer-shop-link:active,
.navigation-footer-item-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.navigation-footer-item-link {
  margin-left: 58px;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.products-title {
  margin-bottom: 22px;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 30px;
  background-color: #f4f7f9;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.filter-topbar {
  margin-top: -45px;
  padding-top: 13px;
  padding-right: 150px;
  padding-bottom: 13px;
  padding-left: 11px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 18px;
}

.show-items {
  border: 1px solid #e5e5e5;
  background-color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 18px;
}

.price-filter {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 30px;
}

.manufacturers,
.supply-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 30px;
}

.checkbox-label,
.radio-button-label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 20px;
}

.price-min,
.price-max,
.price-runner {
  background-color: #f7f3ec;
  font-size: 17px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 18px;
}

.sidebar,
.makers,
.power-type,
.price-min,
.price-max {
  border: 0;
}

.copyright-company {
  width: 240px;
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.feedback,
.copyright {
  width: 140px;
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.feedback-mail,
.copyright-link {
  color: #f1c77e;
  font-size: 16px;
  line-height: 18px;
}

.goods-catalog-items-list,
.price-filter-range {
  background-color: #f7f3ec;
}

.goods-catalog-items-list {
  display: flex;
  margin-right: 0;
  margin-left: 240px;
  width: 700px;

  flex-wrap: wrap;
}

.footer-bottom,
.menu-top-wrapper {
  background-color: #293449;
}

.navigation-basic,
.nav-footer {
  display: flex;
  background-color: #32425c;
}

.brands-popular,
.goods-popular {
  display: flex;
  margin-bottom: 21px;
  background-color: #f9f5f0;

  justify-content: space-between;
  align-items: center;
}

.cart-adding-content {
  display: none;
  font-size: 30px;
  line-height: 30px;
}

.continue-shopping {
  background-color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.continue-shopping:hover {
  background-color: #ca2c37;
}

.continue-shopping:active {
  background: #ba2732;
}

.cart-adding-buttons {
  background-color: #f1f1f1;
}

.form-name-label,
.form-email-label,
.letter-text-label {
  font-size: 18px;
  line-height: 18px;
}

.form-name-control,
.answer-email-control,
.letter-text-field {
  border: 2px solid #d7dcde;
  color: #dee3e4;
  font-size: 13px;
  font-family: 'ptsans', Arial, sans-serif;
  line-height: 18px;
}

.form-name-control:hover,
.answer-email-control:hover,
.letter-text-field:hover {
  border: 2px solid #b5b5b5;
}

.form-name-control:focus,
.answer-email-control:focus,
.letter-text-field:focus {
  border: 2px solid #ee3643;
}

.button-close-post,
.button-close-map,
.close-button-buy {
  width: 20px;
  height: 5px;
  color: #ee3643;
  font-weight: 700;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin-top: 0;
    padding: 0;
    background-color: #f3f7f8;

  justify-content: space-between;
}

.menu-order {
  width: 150px;
  background-color: #63a63e;
}

.menu-head {
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  list-style: none;
}

.menu-top-wrapper {
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  margin-top: 10px;
  margin-bottom: 60px;
  padding-left: 0;
  background-color: #32425c;

  align-items: center;
  justify-content: space-between;
}

.goods-list {
  display: flex;
  width: 100%;
      }

.goods-item,
.goods-item-catalog {
  margin-right: 20px;
  margin-bottom: 21px;
  height: auto;
  border: solid 1px #eaeaea;
}

.goods-item:nth-child(1),
.goods-item-catalog:nth-child(1),
.goods-item-catalog:nth-child(4),
.goods-item-catalog:nth-child(7) {
  margin-left: 0;
}

.goods-item:nth-child(4),
.goods-item-catalog:nth-child(3),
.goods-item-catalog:nth-child(6),
.goods-item-catalog:nth-child(9) {
  margin-right: 0;
}

.goods-perforator {
  display: block;
  margin-bottom: 16px;
    padding-top: 0;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 25px;
  min-height: 40px;
  text-align: center;
}

.old-price {
  margin-right: 40px;
  margin-bottom: 8px;
  margin-left: 77px;
  color: #999;
  text-align: center;
  text-decoration: line-through;
  font-weight: 700;
  font-family: 'PTSans', 'Arial', sans-serif;
}

.new-price {
  display: block;
  margin-right: 37px;
  margin-bottom: 22px;
  margin-left: 44px;
  padding-top: 7px;
  padding-right: 37px;
  padding-bottom: 7px;
  padding-left: 37px;
  width: 80px;
  border-radius: 3px;
  background: #ee3643;
  color: white;
  text-align: center;
  font-weight: 700;
  font-family: 'PTSans', 'Arial', sans-serif;
}

.buy,
.bookmark {
  display: block;
  margin: auto;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-right: 0;
  padding-left: 0;
  width: 129px;
  border: 3px solid #63a63e;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
    line-height: 18px;
}

.bookmark {
  border: 3px solid #63a63e;
  background-color: white;
  color: #32425c;
}

.buy {
  background-color: #63a63e;
  color: white;
}

.menu-top-header {
  display: flex;
  min-width: 100;

  align-items: center;
}

.menu-basket-link {
  margin-right: 32px;
  margin-left: 77px;
}

.menu-head-customers {
  display: flex;

  justify-content: space-between;
}

.menu-top-wrapper-main {
  display: flex;
}

.map-min {
  margin-bottom: 56px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}

.navigation-footer-list {
  padding-top: 20px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
}

.footer-shop-list {
  display: flex;
  padding-right: 130px;
}

.footer-shop-link {
  display: list-item;
  margin-left: 59px;
  color: #fdc762;
  font-size: 18px;
  line-height: 24px;

  align-items: center;
  justify-content: space-between;
}

.footer-bottom-social {
  padding-top: 25px;
  padding-bottom: 24px;
  display: flex;

  justify-content: space-between;
}

.user-menu-list {
  display: inline-flex;
  flex-direction: column;
  padding-top: 46px;
}

.user-menu-button {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-right: 68px;
  padding-bottom: 11px;
  padding-left: 47px;
  background-color: white;
  color: black;
  font-size: 21px;
  line-height: 21px;
}

.breadcrumbs {
  display: flex;

  justify-content: flex-start;
}

.filter {
  display: block;
  margin-top: 0;
  width: 220px;
}

.sort-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 48px;
  width: 500px;

  justify-content: space-between;
}

.goods-list-catalog {
  display: flex;

  flex-wrap: wrap;
}

.main-catalog {
  display: flex;
  flex-direction: row
}

.filter-topbar,
.price-filter {
  border-radius: 3px;
}

.page-button {
  display: block;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: black;
  font-size: 13px;
}

.button-list {
  display: flex;
  margin-left: 250px;
  width: 245px;

  justify-content: space-between;
}

.services-slider {
  padding-bottom: 60px;
}

.service-items {
  display: block;
  padding-top: 20px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-left: 16px;
  width: 200px;
  background-color: #32425c;
  color: white;
  font-size: 21px;
    line-height: 30px;
  cursor: pointer;
}

.service-items:hover {
  background-color: #293449;
}

.radio-1,
.radio-2,
.radio-3 {
  display: none;
}

.service-items:active {
  background-color: white;
  color: #32425c;
}

.services-slider {
  display: flex;
  flex-direction: row;
}
