@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'cuprumbold';
    src: url('css/fonts/cuprumbold.woff2') format('woff2'),
         url('css/fonts/cuprumbold.woff') format('woff');
}


@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'cuprumitalic';
    src: url('css/fonts/cuprumitalic.woff2') format('woff2'),
         url('/fonts/cuprumtalic.woff') format('woff');
}


@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'cuprumregular';
    src: url('\css\fonts\cuprumregular.woff2') format('woff2'),
         url('\css\fonts\cuprumregular.woff') format('woff');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'ptsans';
    src: url('fonts/ptsans.woff2') format('woff2'),
         url('fonts/ptsans.woff') format('woff');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'ptsans';
    src: url('fonts/ptsansbold.woff2') format('woff2'),
         url('fonts/ptsansbold.woff') format('woff');
}



.page {
  margin: 0; 
  padding: 0;
  background-color: white;
  background-position: top center;
  color: black;
    font-weight: 400;
  font-size: 18px;
  font-family: "cuprumregular", Arial, sans-serif;
  line-height: 24px;
}



.link-underline {
  color: #32425c;
  text-decoration: underline;
}


a {
  color: white;
  list-style: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

.navigation 
{
  background-color: #32425c;
}

.navigation-footer-list
{
  color: white;
}


.navigation-flist
{
}
